:root {
    --main-color: #282828;
    --text-color: #fff;

    background-color: var(--main-color);
    color: var(--text-color);
    font-family: 'Almendra', cursive;
}

body {
    height: 98vh;
    width: 98vw;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: royalblue;
    width: 50%;
    height: 8%;
    align-items: center;
    font-size: 1.3em;
    background: linear-gradient(to right, var(--main-color) 0%, royalblue 50%, var(--main-color) 100%);
    margin: auto;
}
.header > p:first-child {
    margin-top: 7px;
}
.header > p:last-child{
    margin-top: -10px;
}
.header > p a {
    color: darkred;
}
.header > p a:visited {
    color: darkred;
}

h1 {
    height: 6%;
    width: 50%;
    text-align: center;
    margin: 5px;
    font-size: 3em;
    border-bottom: solid 2px #fff4;
    color: rgb(110, 142, 238);
    margin: auto;
}
div.action {
    height: 6%;
    display: flex;
    justify-content: space-around;
    margin: 5px;
    width: 30%;
    align-items: center;
    margin: auto;
}
button {
    font-size: 2.5em;
    font-family: 'Almendra';
    border: none;
    border-radius: 10px;
    background-color: royalblue;
    color: var(--text-color);
    margin: 5px;
    padding: 0px 10px 0px 10px;
    transition: 500ms;
}
button:hover {
    background-color: green;
}

select {
    font-size: 1.5em;
    font-family: 'Almendra';
    border: none;
    border-radius: 10px;
    background-color: royalblue;
    color: var(--text-color);
    margin: 5px;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

table:not(.ennemy) {
    border: solid #fff8 2px;
    border-radius: 5px;
    margin: 5px;
    width: 80%;
    height: 750px;
    overflow: scroll;
    margin: auto;
}

table:not(.ennemy) td, table:not(.ennemy) th {
    border: solid 1px #fff8;
    height: 50px;
    border-right: none;
    border-left: none;
}
table:not(.ennemy) td > span {
    text-align: center;
}

/*table::before {
    content: 'Scénario';
    position: relative;
    top: -0.7em;
    left: 1em;
    font-size: 2em;
    padding: 0px 5px 0px 5px;
    background-color: var(--main-color);
}*/

table:not(.ennemy) th:not(:last-child) {
    width: 27%;
}
table:not(.ennemy) th:last-child {
    width: 19%;
}

table.ennemy {
    width: 100%;
}
table.ennemy td {
    width: 50%;
    text-align: center;
    border: none;
}


